@page
@model PDMasterDetail.Pages.SCPs.IndexModel

@{
    ViewData["Title"] = "SCPs";
}
<h1 class="text-white">SCPs</h1>

<div class="p-3 bg-dark text-light rounded">
    <form class="row">
        <div class="col-6">
            <a class="btn btn-primary" asp-page="Create">Report SCP</a>
            <a class="btn btn-primary" asp-page="Upload">Upload Image</a>
        </div>
        <div class="col-6 text-end">
            <select asp-for="SCPClass" asp-items="Model.SCPClasses">
                <option value="">Choose...</option>
            </select>
            <input type="text" asp-for="SearchString" placeholder="Description"/>
            <input class="btn btn-primary" type="submit" value="Search" />
        </div>
    </form>
</div>
<hr />
<table class="table table-striped table-dark">
    <thead class="table-primary">
        <tr>
            <th>
            </th>
            <th>
                <a class="btn btn-primary" asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.SCP[0].Name)
                </a>
            </th>
            <th>
                <a class="btn btn-primary" asp-page"=".Index" asp-route-sortOrder="@Model.ClassSort">
                    @Html.DisplayNameFor(model => model.SCP[0].ObjectClass)
                </a>                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCP[0].Classification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCP[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCP[0].Containment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SCP) {
            <tr>
                <td>
                    @{
                       var imagePath = (item.ImageName != "") ? @"uploads\" + item.ImageName : @"images\scp-inverse.png";
                    }
                    <img src="@imagePath" class="img-fluid img-thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @if (item.Description.Length > 300)
                {
                    @item.Description.Substring(0,300)
                    <b>...</b>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
            </td>
                <td>
                    @if (item.Containment.Length > 300)
                    {
                        @item.Containment.Substring(0,300)
                        <b>...</b>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Containment)
                    }
                </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-primary btn-sm" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>